    <!-- Games Section -->
    <section id="games" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">My Game Records</h2>
                </div>
            </div>

            {% assign stats = site.data.gamestats.records[0].fields %}

            <div class="row">
                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-gamepad"> </i></span>
                    <h3 class="count-value">{{ stats.["Total Games"] }}</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Total Games</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-tasks"> </i></span>
                    <h3 class="count-value">{{ stats.Playing }}</h3>
                    <hr class="width25-divider">
                    <p class="count-title">In Progress</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-check-square-o"> </i></span>
                    <h3 class="count-value">{{ stats.Completed }}</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Completed</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-trophy"> </i></span>
                    <h3 class="count-value">{{ stats.Perfect }}</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Perfect</p>
                </div>
            </div>
        </div>

        <div id="recentplay" class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="section-heading">Recently Played</h3>
                </div>
            </div>
            <div class="row">
                {% for item in site.data.recentplay.records %}
                    <div class="col-md-4 col-sm-6 recent-one">
                        <img src="{{ item.fields.["封面"][0].url }}" class="img-responsive img-centered icon" alt="{{ item.fields.["游戏名"] }}" title="{{ item.fields.["游戏名"] }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
