    <!-- Games Section -->
    <section id="games" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">My Game Records</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-gamepad"> </i></span>
                    <h3 class="count-value">175</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Games Played</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-tasks"> </i></span>
                    <h3 class="count-value">2</h3>
                    <hr class="width25-divider">
                    <p class="count-title">In Progress</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-check-square-o"> </i></span>
                    <h3 class="count-value">35</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Completed</p>
                </div>

                <div class="col-md-3 col-sm-6 count-one">
                    <span class="icon"><i class="fa fa-trophy"> </i></span>
                    <h3 class="count-value">40</h3>
                    <hr class="width25-divider">
                    <p class="count-title">Perfect</p>
                </div>
            </div>
        </div>

        <div id="recentplay" class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="section-heading">Recently Played</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 recent-one">
                    <img src="img/valheim.jpg" class="img-responsive img-centered icon" alt="">
                </div>
                <div class="col-md-4 col-sm-6 recent-one">
                    <img src="img/starbound.jpg" class="img-responsive img-centered icon" alt="">
                </div>
                <div class="col-md-4 col-sm-6 recent-one">
                    <img src="img/skul.jpg" class="img-responsive img-centered icon" alt="">
                </div>
            </div>
        </div>
    </section>
